body {
    display: flex;
}

nav {
    position: absolute;
    background-color: rgba(231, 233, 252, 1);
}

a {
    display: flex;
    padding: 16px 0px;
    gap: 32px;
    border-radius: 16px 16px 0px 0px;
}

header {
    position: absolute;
    width: 1440px;
    height: 600px;
    margin-top: 72px;
    background-color: #2E2F42;
}

h1 {
    color: white;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
}

button {
    display: flex;

    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    color: white;
    align-content: center;
    margin-left: 636px;
}

button:hover {
    border-radius: 8px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05) inset;
}

main {}